<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    
  <servlet>
  	<servlet-name>osm_tile_servlet</servlet-name>
  	<servlet-class>zpt.server.osm_tile_servlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>osm_tile_servlet</servlet-name>
  	<url-pattern>/tiles/osm/*</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
