a img {
	border: 0;
}
h1 {
	margin: 0;
	line-height: 0.85em;
	font-size: 2.5em;
}
p {
	color: white;
	font-size: 1.1em;
}

.moveCursor {
	cursor: move;
}
.copy {
	padding-left: 40px;
	font-size: 0.8em;
}
.copy, .copy a, .copy a:hover, .copy a:active, .copy a:visited {
	color: #111111;
}

.LeftPanel {
	border-right: 1px solid #999;
	background-image: url("/left_bg.png");
	background-repeat: repeat-y;
}

#info {
	padding: 20px;
}
.zed-opaque {
	color: #ee5555;
}
.footnote {
	font-style: italic;
	font-size: 0.8em;
}
.patientZeroLink {
	display: inline;
	cursor: pointer;
	text-decoration: underline;
}
#twitter {
	margin-left: 56px;
}
#fb {
	margin-left: 65px;
}
#src {
	text-align: center;
}

.TimeControl {
	background-color: black;
	opacity: 0.6;
	border: 1px solid #ccc;
	\-moz-border-radius: 25px;
	\-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px 5px 10px 25px;
}

.SliderTrack {
	width: 80%;
	height: 27px;
	float: left;
	cursor: pointer;
}

.SliderTrackBg {
	width: 100%;
	height: 5px;
	background-color: #888;
}
.SliderKnob {
	width: 8px;
	height: 27px;
	background-color: #33ccff;
}

.TimeControlInfo {
	width: 20%;
	float: left;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}

.zed {
	color: #ff0000;
}

